<form (ngSubmit)="handleFormSubmit()" [formGroup]="courseForm">
<div class="form-group">
<label for="courseName">CourseName</label>
<input type="text" class="form-control" formControlName="courseName"/>
<div class="alert alert-danger" *ngIf="courseForm.get('courseName').touched && 
courseForm.get('courseName').invalid ">
<div *ngIf="courseForm.get('courseName').errors.required">
    Enter correct courseName!!!!
</div> 
</div>
<button class="btn btn-primary" type="submit" [disabled]="courseForm.invalid">Submit</button> 
</div> 
</form>
